@charset "UTF-8";
/* -----------------------------------------------
Common css [Scalable and Modular Architecture for CSS]
-------------------------------------------------- */
/* -----------------------------------------------
 Reset （リセット）
-------------------------------------------------- */
html {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

a {
	background: transparent;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

html, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, em, img, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, footer, header, small, nav, section, figure, figcaption, main {
	margin: 0;
	padding: 0;
	display: block;
	vertical-align: baseline;
	list-style: none;
	background-color: transparent;
	outline: none;
}

audio, canvas, video {
	display: inline-block;
}

ul, ol {
	list-style-type: none;
}

table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	line-height: 1;
	vertical-align: bottom;
}

a img {
	border: none;
}

foot_main, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

dt, dd, li,
th, td,
input, textarea {
	text-align: left;
	vertical-align: top;
}

input, textarea, button {
	margin: 0;
	padding: 0;
}

button, label {
	background-color: transparent;
	cursor: pointer;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="foot_mainmit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/* -----------------------------------------------
Base （ベース）
-------------------------------------------------- */
html {
	overflow-y: scroll;
}

body {
	background: #fff;
	font-family: "新丸ゴ R", "Shin Maru Go Regular", "リュウミン R-KL" , "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 14px;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.7;
	font-size: 100%;
	font-weight: bold;
}

p {
	line-height: 1.7;
}

dt, dd, li,
th, td,
input,
textarea {
	line-height: 1.7;
}

input, textarea, button {
	font-family: "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "helvetica", "arial", sans-serif;
	font-size: 100%;
}

strong {
	font-weight: bold;
}

em {
	font-weight: bold;
	font-style: normal;
}

/* Anchors
-------------------------------------------------- */
a,
a:link {
	color: #222;
	text-decoration: underline;
}

a:visited {
	color: #222;
}

a:hover,
a:active {
	color: #222;
	text-decoration: none;
}

/* Clearfix [ModernType]
-------------------------------------------------- */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*  [Object-Oriented CSS]
-------------------------------------------------- */
.is-hidden {
	display: none !important;
}

.is-visible {
	display: block !important;
}

.pull-left {
	text-align: left !important;
}

.pull-right {
	text-align: right !important;
}

.pull-center {
	text-align: center !important;
}

.pull-top {
	vertical-align: top !important;
}

.pull-middle {
	vertical-align: middle !important;
}

.pull-bottom {
	vertical-align: bottom !important;
}

.fluid-image {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}

.visible-pc {
	display: block;
}
.visible-sp {
	display: none;
}

@media screen and ( max-width:768px) {
	.visible-pc {
		display: none;
	}
	.visible-sp {
		display: block;
	}
} /* sp */

.word {
	display: inline-block;
}

/* Margin, Padding
-------------------------------------------------- */
.mt0 {
	margin-top: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mt55 {
	margin-top: 55px !important;
}

.mt60 {
	margin-top: 60px !important;
}

.mt70 {
	margin-top: 70px !important;
}

.mt80 {
	margin-top: 80px !important;
}

.mt90 {
	margin-top: 90px !important;
}

.mt100 {
	margin-top: 100px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.mr35 {
	margin-right: 35px !important;
}

.mr40 {
	margin-right: 40px !important;
}

.mr45 {
	margin-right: 45px !important;
}

.mr50 {
	margin-right: 50px !important;
}

.mr60 {
	margin-right: 60px !important;
}

.mr70 {
	margin-right: 70px !important;
}

.mr80 {
	margin-right: 80px !important;
}

.mr90 {
	margin-right: 90px !important;
}

.mr100 {
	margin-right: 100px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mb45 {
	margin-bottom: 45px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.mb60 {
	margin-bottom: 60px !important;
}

.mb70 {
	margin-bottom: 70px !important;
}

.mb80 {
	margin-bottom: 80px !important;
}

.mb90 {
	margin-bottom: 90px !important;
}

.mb100 {
	margin-bottom: 100px !important;
}

.ml0 {
	margin-left: 0px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.ml35 {
	margin-left: 35px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.ml45 {
	margin-left: 45px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.ml60 {
	margin-left: 60px !important;
}

.ml70 {
	margin-left: 70px !important;
}

.ml80 {
	margin-left: 80px !important;
}

.ml90 {
	margin-left: 90px !important;
}

.ml100 {
	margin-left: 100px !important;
}

.pt0 {
	padding-top: 0px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pt35 {
	padding-top: 35px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pt60 {
	padding-top: 60px !important;
}

.pt70 {
	padding-top: 70px !important;
}

.pt80 {
	padding-top: 80px !important;
}

.pt90 {
	padding-top: 90px !important;
}

.pt100 {
	padding-top: 100px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pr35 {
	padding-right: 35px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.pr50 {
	padding-right: 50px !important;
}

.pr60 {
	padding-right: 60px !important;
}

.pr70 {
	padding-right: 70px !important;
}

.pr80 {
	padding-right: 80px !important;
}

.pr90 {
	padding-right: 90px !important;
}

.pr100 {
	padding-right: 100px !important;
}

.pb0 {
	padding-bottom: 0px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pb35 {
	padding-bottom: 35px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.pb60 {
	padding-bottom: 60px !important;
}

.pb70 {
	padding-bottom: 70px !important;
}

.pb80 {
	padding-bottom: 80px !important;
}

.pb90 {
	padding-bottom: 90px !important;
}

.pb100 {
	padding-bottom: 100px !important;
}

.pl0 {
	padding-left: 0px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pl35 {
	padding-left: 35px !important;
}

.pl40 {
	padding-left: 40px !important;
}

.pl42 {
	padding-left: 42px !important;
}

.pl50 {
	padding-left: 50px !important;
}

.pl60 {
	padding-left: 60px !important;
}

.pl70 {
	padding-left: 70px !important;
}

.pl80 {
	padding-left: 80px !important;
}

.pl90 {
	padding-left: 90px !important;
}

.pl100 {
	padding-left: 100px !important;
}

/* -----------------------------------------------
Layout（レイアウト）
-------------------------------------------------- */
/* #document
-------------------------------------------------- */
body {
	position: relative;
	background: #fff8ec;
	border-top: 3px solid #f8640b;
	color: #333;
	text-align: center;
	font-size: 14px;
}

/* #header
-------------------------------------------------- */
@media screen and (min-width:769px) {
	.header {
		width: 1080px;
		height: 120px;
		margin: 0 auto;
		padding: 10px 0 0;
		text-align: left;
		overflow: hidden;
	}
	.logo {
		float: left;
		width: 200px;
	}
	.box_tel {
		float: right;
		text-align: right;
	}
	.txt_tel .visible-pc {
		display: inline-block;
	}
	.txt_tel a {
		text-decoration: none;
		font-size: 22px;
		color: #f8640b;
	}
	.txt_tel i {
		margin-top: 9px;
		padding-right: 10px;
		font-size: 16px;
		vertical-align: top;
	}
	.header .txt_note {
	}
} /* pc */
@media screen and ( max-width:768px) {
	.header {
		position: fixed;
		top: 0;
		width: 100%;
		background-size: 5% auto;
		z-index: 100;
	}
	.head {
		position: relative;
		height: 55px;
		background: #fff;
		z-index: 101;
	}
	.header .icn_tel {
		position: absolute;
		right: 105px;
		top: 15px;
		width: 30px;
		height: 30px;
		background: #fcbe32;
		border-radius: 5px;
	}
	.header .icn_tel i {
		margin-top: 7px;
		color: #fff;
		font-size: 18px;
	}
	.logo {
		width: 52%;
		padding: 5px;
	}
} /* sp */

/* #footer
-------------------------------------------------- */
.footer {
	background: #ff5f2e;
}
@media screen and (min-width:769px) {
	.footer .copy {
		width: 1080px;
		margin: 0 auto;
		text-align: left;
		color: #fff;
		font-size: 14px;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.footer .copy {
		text-align: center;
		color: #fff;
		font-size: 14px;
	}
} /* sp */

/* #container
-------------------------------------------------- */
.container {
	margin-top: -17px;
	background: url(/common/images/bg-container-top.png) repeat-x center top;
}
@media screen and (min-width:769px) {
	.container .inner {
		position: relative;
		margin-bottom: -17px;
		background: url(/common/images/bg-container-btm.png) repeat-x center bottom;
	}
} /* pc */

/* #main
-------------------------------------------------- */
@media screen and (min-width:769px) {
	.main {
		width: 1040px;
		margin: 0 auto;
		padding: 0 20px;
		padding-bottom: 100px;
		text-align: left;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.main {
		padding: 0 10px;
		padding-bottom: 50px;
		text-align: left;
	}
} /* sp */

/* #foot_main
-------------------------------------------------- */
.foot_main {
	background: #fcbe32;
}
.foot_main .icn li {
	width: 25px;
	padding: 5px;
}
.foot_main .icn a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.foot_main .info {
	padding: 20px;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
	text-align: left;
}
.hdg_info {
	font-size: 18px;
	font-weight: bold;
}
@media screen and (min-width:769px) {
	.foot_main .inner {
		max-width: 1040px;
		padding: 50px 0 20px 0;
		margin: 0 auto;
	}
	.foot_main .fb {
		float: left;
		width: 400px;
	}
	.foot_main .info {
		position: relative;
		float: right;
		width: 600px;
	}
	.box_btn {
		position: absolute;
		top: 20px;
		right: 20px;
		margin-top: 0;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.foot_main .inner {
		padding: 15px;
	}
	.foot_main .info {
		margin-top: 20px;
	}
} /* sp */

/* Wrapper Module
-------------------------------------------------- */
@media screen and ( max-width:768px) {
	.wrapper {
		padding-top: 55px;
	}
} /* sp */
/* Heading Module
-------------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* hdg Module
-------------------------------------------------- */
.block_hdg {
	background: url(/common/images/bg-header.png) repeat center top;
}
@media screen and (min-width:769px) {
	.block_hdg .inner {
		display: table;
		width: 1080px;
		height: 160px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center top;
	}
	.block_hdg .txt_mainvisual {
		display: table-cell;
		vertical-align: middle;
		padding-left: 50px;
		text-align: left;
	}
	.top .block_hdg .txt_mainvisual {
		text-align: center;
	}
	.block_hdg .txt_mainvisual div {
		display: inline-block;
		padding: 20px 40px 15px 40px;
		background: rgba(255,255,255,0.8);
		border-radius: 10px;
	}
	.hdg_main {
		color: #f8640b;
		font-size: 20px;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.block_hdg .inner {
		display: table;
		width: 100%;
		height: 120px;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
	.block_hdg .txt_mainvisual {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.block_hdg .txt_mainvisual div {
		width: 160px;
		margin: 0 auto;
		padding: 10px;
		background: rgba(255,255,255,0.8);
		border-radius: 10px;
	}
	.hdg_main {
		color: #f8640b;
		font-size: 16px;
	}
} /* sp */

.hdg_lv2 {
	margin-bottom: 20px;
	padding: 10px 0 3px 50px;
	background: url(/common/images/bg-hdg.png) no-repeat left top;
	border-bottom: 2px dashed #ff6636;
	font-size: 24px;
	text-align: left;
}




/* Text Module
-------------------------------------------------- */
.txt_note {
	font-size: 12px;
}
/* Anchor Module
-------------------------------------------------- */
/* Icon Module
-------------------------------------------------- */
/* Button Module
-------------------------------------------------- */
.box_btn {
	margin-top: 10px;
}
a.btn_o {
	display: inline-block;
	padding: 8px 20px 6px 30px;
	background: #ff5f2e;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: 0.86em;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
a.btn_o span {
	position: relative;
	font-size: 16px;
}
a.btn_o span:before {
		position: absolute;
		left: -20px;
		content: '\f152';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: #fff;
}
@media screen and (min-width:769px) {
	a.btn_o:hover {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
} /* pc */


/* Link Module
-------------------------------------------------- */
a.txt_o {
	display: inline-block;
	color: #ff5f2e;
}
a.txt_o span {
	position: relative;
}
a.txt_o span:before {
		position: absolute;
		left: -20px;
		content: '\f152';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
}

/* pagetop Module
-------------------------------------------------- */
.pagetop a {
	display: block;
	background: #004e66;
	color: #fff;
	text-decoration: none;
}
.pagetop span {
	position: relative;
	z-index: 50;
}
.pagetop span:before {
	position: absolute;
	width: 0;
	height: 0;
	top: 3px;
	left: -15px;
	content: "";
	border: 5px solid transparent;
	border-bottom-color: #fff;
}
@media screen and (min-width:769px) {
	.pagetop {
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 50;
	}
	.pagetop a {
		width: 50px;
		height: 35px;
		padding-top: 15px;
		border-radius: 999px;
		text-align: center;
		outline: none;
	}
	.pagetop a:hover {
		filter:alpha(opacity=80);
		opacity: 0.8;
	}
	.pagetop span:before {
		left: 50%;
		top: -12px;
		margin-left: -5px;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.pagetop a {
		padding: 5px 0;
	}
} /* sp */

/* List Module
-------------------------------------------------- */
.list_num {
	padding-left: 20px;
	list-style: inherit;
	list-style-type: decimal;
}
.list_num li {
	margin-top: 5px;
}

/* Nav Module
-------------------------------------------------- */
@media screen and (min-width:769px) {
	.nav {
		width: 1080px;
		margin: 0 auto;
		overflow: hidden;
	}
	.nav_list {
		overflow: hidden;
		margin-top: 10px;
	}
	.nav_list ul {
		float: left;
		overflow: hidden;
	}
	.nav_list li {
		float: left;
		margin: 10px 30px;
	}
	.nav_list li a {
		display: block;
		text-decoration: none;
	}
	.nav_list li a:hover {
		color: #ff5f2e;
	}
	.nav_privacy {
		float: right;
		margin: 10px 35px;
		padding-left: 25px;
		border-left: 1px solid #ff5f2e;
	}
	.nav_privacy a {
		text-decoration: none;
	}
	.nav_privacy a:hover {
		color: #ff5f2e;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.header.fixed {
		position: fixed;
		padding-top: 0;
	}
	.nav_toggle {
		position: fixed;
		right: 10px;
		top: 15px;
		width: 85px;
		height: 25px;
		padding-top: 5px;
		color: #fff;
		background: #fcbe32;
		border-radius: 5px;
		text-align: center;
		z-index: 150;
	}
	.nav_toggle i {
		margin-right: 5px;
		-webkit-transition: all .30s linear;
		-moz-transition: all .30s linear;
		-o-transition: all .30s linear;
		transition: all .30s linear;
	}
	.open .nav_toggle i {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.nav_list {
		position: absolute;
		top: -500px;
		width: 100%;
		background: rgba(0,78,102,0.8);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		z-index: 100;
	}
	.open .nav_list {
		 -moz-transform: translateY(555px);
		-webkit-transform: translateY(555px);
		transform: translateY(555px);
	}
	.nav_list li {
		border-bottom: 1px solid #fff;
	}
	.nav_list a {
		display: block;
		padding: 15px;
		color: #fff;
		text-decoration: none;
	}
	.nav_privacy {
		text-align: left;
	}
} /* sp */

/* Tab Module
-------------------------------------------------- */
/* Accordion Module
-------------------------------------------------- */
.open.tgl_detail {
	/*display: block;*/
}
/* Table Module
-------------------------------------------------- */
/* News Module
-------------------------------------------------- */
.link_news_list {
	margin-top: -10px;
	margin-bottom: 10px;
	text-align: right;
}
.wrap_news {
	height: 300px;
	overflow-y: scroll;
	padding-right: 20px;
}
.list_news li {
	margin-top: 15px;
	padding: 15px 0 0 10px;
	border-top: 1px dashed #fcbe32;
}
.list_news li:first-child {
	border: 0;
	margin-top: 0;
	padding-top: 0;
}
.list_news .date {
	display: inline-block;
}
.icn_news {
	display: inline-block;
	margin-bottom: 10px;
	padding: 1px 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
}
.icn_info {
	background: #004e66;
}
.icn_seminar {
	background: #ff5f2e;
}
.list_news li a.txt_o {
	margin-left: 20px;
}

/* -----------------------------------------------
 [profile]
-------------------------------------------------- */

@media screen and (min-width:769px) {
	.profile .pct_prof {
		float: left;
	}
} /* pc */

@media screen and (min-width:769px) {
	.profile .pct_prof {
		width: 360px;
		height: 400px;
		background-image: url(/common/images/profile-pct-rica.jpg);
		background-size: cover;
	}
	.profile .txt_prof {
		float: left;
		width: 640px;
		margin-left: 40px;
	}
	.profile .txt_prof dt {
		margin-top: 20px;
		font-weight: bold;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.profile .pct_prof {
		width: 100%;
		height: 300px;
		background-image: url(/common/images/profile-pct-rica.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
	}
	.profile .txt_prof dt {
		margin-top: 10px;
		font-weight: bold;
	}
} /* sp */
@media screen and (min-width:376px) and ( max-width:768px) {
	.profile .pct_prof {
		height: 500px;
	}
} /* tb */

.profile .block_fp p {
	line-height: 2;
	font-size: 16px;
}
.profile .block_career li {
	margin-top: 10px;
}
.profile .block_career li span {
	margin-right: 15px;
}
@media screen and ( max-width:768px) {
	.profile .block_career li span {
		display: block;
	}
} /* sp */




/* -----------------------------------------------
 [top]
-------------------------------------------------- */

/* #mainvisual
-------------------------------------------------- */
.mainvisual {
	background: url(/common/images/bg-header.png) repeat center top;
	text-align: left;
}
.mainvisual .inner {
	background: url(/common/images/top-pct-main.jpg) no-repeat center top;
}
.mainvisual .txt_mainvisual div {
	background: rgba(255,255,255,0.8);
	text-align: center;
}
.mainvisual .hdg_mainvisual {
	color: #f8640b;
	font-weight: bold;
}
@media screen and (min-width:769px) {
	 .mainvisual .inner {
		width: 440px;
		height: 490px;
		margin: 0 auto;
		padding-left: 640px;
		display: table;
	}
	.mainvisual .txt_mainvisual {
		display: table-cell;
		vertical-align: middle;
	}
	.mainvisual .txt_mainvisual div {
		width: 380px;
		padding: 40px 20px;
		border-radius: 10px;
	}
	.mainvisual .hdg_mainvisual {
		font-size: 22px;
	}
	.mainvisual .txt_mainvisual p {
		margin-top: 15px;
		font-size: 17px;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.mainvisual {
		padding: 5% 0 10% 0;
		background-size: 5% auto;
	}
	.mainvisual .inner {
		padding-top: 75%;
		background-size: 200% auto;
		background-position: 26% top;
	}
	.mainvisual .txt_mainvisual div {
		padding: 10px 0;
	}
	.mainvisual .hdg_mainvisual {
		margin-bottom: 5px;
		font-size: 16px;
	}
	.mainvisual .txt_mainvisual p {
		font-size: 14px;
	}
} /* sp */

/* #service
-------------------------------------------------- */
.block_service {
	overflow: hidden;
}

@media screen and (min-width:769px) {
	.block_service ul {
		margin-left: -40px;
	}
	.block_service ul li {
		float: left;
		margin-left: 40px;
		margin-top: 40px;
		background: #fff;
		border-radius: 10px;
	}
	.block_service li span {
		display: block;
	}
	.block_service li a {
		display: block;
		width: 276px;
		min-height: 185px;
		padding: 20px 20px 10px 200px;
		border-radius: 10px;
		background-repeat: no-repeat;
		background-position: 10px center;
		text-decoration: none;
	}
	.block_service .ttl_service {
		margin-bottom: 10px;
		font-size: 22px;
	}
	.block_service .word {
		display: inline-block;
	}
	.block_service .link_service {
		text-decoration: underline;
		color: #ff5f2e;
		margin-top: 10px;
		padding-left: 20px;
	}
	.block_service .link_service span {
		position: relative;
		display: inline;
	}
	.block_service .link_service span:before {
		position: absolute;
		left: -20px;
		content: '\f152';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
	}
	.one-point a {
		border: 2px solid #ffc952;
		background-image: url(/common/images/pct-one-point.png);
	}
	.one-point .ttl_service {
		color: #ffc952;
	}
	.single-plan a {
		border: 2px solid #47b8e0;
		background-image: url(/common/images/pct-single-plan.png);
	}
	.single-plan .ttl_service {
		color: #47b8e0;
	}
	.family-plan a {
		border: 2px solid #ff7473;
		background-image: url(/common/images/pct-family-plan.png);
	}
	.family-plan .ttl_service {
		color: #ff7473;
	}
	.business a {
		border: 2px solid #34314c;
		background-image: url(/common/images/pct-business.png);
	}
	.business .ttl_service {
		color: #34314c;
	}
	.block_service li a:hover {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
	.block_service li a:hover .link_service {
		text-decoration: none;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.block_service li {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px dashed #ff5f2e;
	}
	.block_service li:first-child {
		border-top: 0;
	}
	.block_service span {
		display: block;
	}
	.block_service a {
		display: table;
		text-decoration: none;
	}
	.block_service .ttl_service {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 120px;
		height: 130px;
		border-radius: 10px;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.block_service .txt_service {
		margin-left: 10px;
		font-size: 14px;
	}
	.block_service .link_service {
		margin-left: 10px;
		margin-top: 10px;
		padding-left: 20px;
		text-decoration: underline;
		color: #ff5f2e;
	}
	.block_service .link_service span {
		position: relative;
		display: inline;
	}
	.block_service .link_service span:before {
		position: absolute;
		left: -20px;
		content: '\f152';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
	}
	.block_service .ttl_service .word {
		position: relative;
		z-index: 10;
	}
	.one-point .ttl_service {
		position: relative;
		background-image: url(/common/images/pct-one-point.png);
	}
	.one-point .ttl_service:before{
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		width: 120px;
		height: 130px;
		border-radius: 10px;
		background-color: rgba(255,116,115,0.7);
	}
	.single-plan .ttl_service {
		position: relative;
		background-image: url(/common/images/pct-single-plan.png);
	}
	.single-plan .ttl_service:before{
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		width: 120px;
		height: 130px;
		border-radius: 10px;
		background-color: rgba(255,201,82,0.7);
	}
	.family-plan .ttl_service {
		position: relative;
		background-image: url(/common/images/pct-family-plan.png);
	}
	.family-plan .ttl_service:before{
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		width: 120px;
		height: 130px;
		border-radius: 10px;
		background-color: rgba(71,184,224,0.7);
	}
	.business .ttl_service {
		position: relative;
		background-image: url(/common/images/pct-business.png);
	}
	.business .ttl_service:before{
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		width: 120px;
		height: 130px;
		border-radius: 10px;
		background-color: rgba(52,49,76,0.7);
	}
} /* sp */

/* #message
-------------------------------------------------- */
@media screen and (min-width:769px) {
	.txt_msg p {
		margin-top: 20px;
		line-height: 2.2;
		font-size: 16px;
		text-align: center;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.txt_msg p {
		margin-top: 10px;
		line-height: 1.8;
		font-size: 14px;
		text-align: center;
	}
} /* sp */


/* -----------------------------------------------
 [service]
-------------------------------------------------- */
.service .list_service {
	text-align: center;
}
.service .list_service ul {
	margin: 0 auto;
}
.service .list_service li {
	margin: 0 10px;
	display: inline-block;
	font-size: 16px;
}
.service .list_service li a {
	position: relative;
	display: block;
	padding: 10px 20px 10px 40px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
.service .list_service li a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.service .list_service li span:before {
	position: absolute;
	left: 15px;
	content: '\f150';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
.service .box_service {
	margin-top: 40px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
}
.service .box_list {
	float: left;
	width: 45%;
}
.service .box_q {
	margin-top: 20px;
	font-size: 14px;
}
.service .box_q ul,
.service .box_a ul {
	padding-left: 10px;
}
.service .box_q li {
	position: relative;
	margin-top: 10px;
	padding-left: 35px;
}
.service .box_q li:before {
	position: absolute;
	left: 0;
	margin-top: -5px;
	content: '\f059';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 20px;
	color: #004e66;
}
.service .box_a {
	margin-top: 20px;
	font-size: 14px;
}
.service .box_a li {
	position: relative;
	margin-top: 10px;
	padding-left: 35px;
}
.service .box_a li:before {
	position: absolute;
	left: 0;
	margin-top: -5px;
	content: '\f14a';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 20px;
	color: #ff5f2e;
}
.service .hdg_q {
	margin-bottom: 10px;
	font-size: 18px;
}
.service .hdg_a {
	margin-bottom: 10px;
	font-size: 18px;
}
.service .list_step {
	float: left;
	width: 50%;
	padding: 20px 0 0 5%;
}
.service .list_step li {
	margin-top: 20px;
	font-size: 14px;
}
.service .list_step .step_tbl {
	display: table;
}
.service .list_step li:first-child {
	margin-top: 0;
}
.service .list_step .icn_step {
	display: table;
	width: 100px;
	height: 100px;
	background: #004e66;
	border-radius: 50%;
	color: #fff;
}
.service .list_step .icn_step span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.service .list_step .icn_step em {
	display: block;
	font-family: 'fantasy';
}
.service .txt_step {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	line-height: 2;
}
.service .box_document {
	margin-left: 120px;
	padding: 10px;
	border: 1px solid #004e66;
	border-radius: 10px;
}

.service .block_detail {
	margin-top: 40px;
	padding: 20px;
	border-radius: 10px;
}
.service .detail_head {
	display: table;
	width: 100%;
	padding-bottom: 10px;
}
.service .hdg_detail {
	display: inline-block;
	font-size: 24px;
}
.service .txt_price {
	display: inline-block;
	margin-left: 20px;
	font-size: 18px;
}
.service .box_detail {
	padding: 20px;
	background: rgba(255,255,255,0.8);
	border-radius: 10px;
}
.service .box_detail .hdg_contact {
	font-size: 18px;
	font-weight: bold;
}

.service .box_detail_tel {
	float: left;
	width: 50%;
	font-size: 14px;
}
.service .box_detail_form {
	float: left;
	width: 50%;
	font-size: 14px;
}

/*one-point*/
.service .list_one-point a {
	background: #ffc952;
}
.service .block_one-point {
		border: 2px solid #ffc952;
}
.service .block_one-point .block_detail {
	background: #ffc952;
}
.service .block_one-point .hdg_contact {
	border-bottom: 1px dashed #ffc952;
}

/*single-plan*/
.service .list_single-plan a {
	background: #47b8e0;
}
.service .block_single-plan {
		border: 2px solid #47b8e0;
}
.service .block_single-plan .block_detail {
	background: #47b8e0;
}
.service .block_single-plan .hdg_contact {
	border-bottom: 1px dashed #47b8e0;
}

/*family-plan*/
.service .list_family-plan a {
	background: #ff7473;
}
.service .block_family-plan {
		border: 2px solid #ff7473;
}
.service .block_family-plan .block_detail {
	background: #ff7473;
}
.service .block_family-plan .hdg_contact {
	border-bottom: 1px dashed #ff7473;
}

/*business*/
.service .list_business a {
	background: #34314c;
}
.service .block_business {
	border: 2px solid #34314c;
}
.service .block_business .block_detail {
	background: #34314c;
}
.service .block_business .hdg_detail {
	color: #fff;
}

.service .box_business {
	display: table;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}
.service .box_business li {
	display: table-cell;
	width: 46%;
	padding: 0 2%;
}
.service .box_business li div {
	padding: 2%;
	border: 1px solid #34314c;
	border-radius: 10px;
	font-size: 14px;
}
.service .txt_business {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

@media screen and ( max-width:768px) {
	.service .box_service {
		padding: 20px;
	}
	.service .list_service ul {
		display: -webkit-box;
		display: box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.service .list_service li {
		width: 48%;
		margin: 0 0 2% 2%;
		font-size: 14px;
	}
	.service .list_service li:nth-child(odd) {
		margin-left: 0;
	}
	.service .list_service li a {
		padding: 10px 5px 10px 25px;
	}
	.service .list_service li span {
		display: flex;
		align-items: center;
	}
	.service .list_service li span:before {
		left: 5px;
	}
	.service .box_list,
	.service .list_step {
		float: none;
		width: 100%;
		margin-bottom: 10%;
		padding: 0 ;
	}
	.service .box_q {
		margin-top: 0;
	}
	.service .box_q ul,
	.service .box_a ul {
		padding-left: 0;
	}
	.service .list_step .icn_step {
		display: block;
		width: auto;
		height: auto;
		margin-bottom: 3%;
		padding: 2% 5%;
		border-radius: 10px;
	}
	.service .list_step .icn_step span {
		display: block;
		text-align: left;
	}
	.service .list_step .icn_step em {
		display: inline-block;
		margin-right: 5%;
	}
	.service .txt_step {
		display: block;
		padding-left: 0;
	}
	.service .block_detail {
		margin-top: 5%;
	}
	.service .hdg_detail {
		display: block;
		text-align: center;
		font-size: 20px;
	}
	.service .txt_price {
		display: block;
		text-align: center;
		font-size: 16px;
	}
	.service .box_detail_tel,
	.service .box_detail_form {
		float: none;
		width: 100%;
		margin-bottom: 5%;
	}
	.service .box_document {
		margin: 5% 0 0 0;
	}
	.service .box_business {
		display: block;margin-bottom: 0;
	}
	.service .box_business li {
		display: block;
		width: auto;
		margin-bottom: 5%;
		padding: 0;
	}
	.service .box_business li div {
		padding: 5%;
	}
	.service .txt_business {
		text-align: left;
	}
}

/* -----------------------------------------------
 [voice]
-------------------------------------------------- */

.voice .box_hdg {
	border-bottom: 2px dashed #ff5f2e;
	margin-bottom: 20px;
}
.voice .box_hdg p {
	display: inline-block;
	font-size: 12px;
}
.voice .hdg_voice {
	font-size: 18px;
	color: #ff5f2e;
	display: inline-block;
}
.voice .txt_voice p {
	margin-top: 10px;
}
.voice .pct-voice {
	border-radius: 10px;
}

@media screen and (min-width:769px) {
	.voice .pct-voice {
		float: right;
	}
		.voice .box_voice {
		margin-top: 50px;
	}
	.voice .txt_voice {
		float: left;
		width: 600px;
		margin-right: 40px;
		margin-top: -10px;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.voice .box_voice {
		position: relative;
		margin-top: 40px;
	}
	.voice .txt_voice {
		margin-top: 10px;
	}
	.voice .tgl_open {
		position: absolute;
		right: 0;
		bottom: -20px;
		text-align: right;
	}
	.voice .tgl_detail {
		display: none;
	}
} /* sp */

/* -----------------------------------------------
 [access]
-------------------------------------------------- */

.access .tbl_access th {
	width: 60px;
	padding: 5px;
}
.access .tbl_access td {
	padding: 5px;
}
@media screen and (min-width:769px) {
	.access .box_map {
		width: 500px;
		height: 350px;
		float: right;
	}
	.access .tbl_access {
		float: left;
		width: 500px;
	}
} /* pc */
@media screen and ( max-width:768px) {
	.access .box_map {
		height: 300px;
	}
	.access .tbl_access {
		margin-top: 10px;
	}
} /* sp */

.access .block_access li:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 80px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 12px;
	border-color: transparent transparent transparent #fcbe32;
}
.access .block_access li:last-child:after {
	border: 0;
}
.access .block_access li p {
	margin-top: 15px;
	text-align: left;
}
@media screen and (min-width:769px) {
	.access .block_access li {
		position: relative;
		display: inline-block;
		width: 30%;
		padding: 0 1.5%;
		text-align: center;
	}

} /* pc */
@media screen and ( max-width:768px) {
	.access .block_access li {
		position: relative;
		margin-top: 40px;
	}
	.access .block_access li:after {
		top: auto;
		bottom: -30px;
		left: 50%;
		margin-left: -20px;
	border-width: 20px 20px 0 20px ;
	border-color:  #fcbe32 transparent transparent transparent;
	}
	.access .block_access li p {
		margin-top: 5px;
	}
} /* sp */


/* -----------------------------------------------
 [privacy]
-------------------------------------------------- */
.privacy .block_privacy h3 {
	margin-top: 20px;
	font-size: 16px;
}
.privacy .block_privacy h3 span {
	border-bottom: 1px solid #ff6636;
}

.privacy .block_privacy p {
	margin-top: 10px;
}

@media screen and (min-width: 769px) {
	.privacy .block_hdg .txt_mainvisual div {
		width: 200px;
	}
}

/* -----------------------------------------------
 [contact]
-------------------------------------------------- */
.contact .box_contact {
	margin-top: 50px;
	text-align: center;
	border-top: 1px solid #fcbe32;
}
.contact .tbl_col {
	display: table;
	background: #fff;
	text-align: left;
	width: 100%;
	border-right: 1px solid #fcbe32;
	border-bottom: 1px solid #fcbe32;
}
.contact .tbl_col div {
	display: table-cell;;
	width: 80%;
	padding: 10px;
	border-left: 1px solid #fcbe32;
}
.contact .tbl_col .col_th {
	width: 20%;
	background: #fff8ec;
}
.contact .tbl_col input,
.contact .tbl_col textarea {
	width: 50%;
	border: 1px solid #fcbe32;
}
.contact .txt_ime input {
	ime-mode: inactive;
}
.contact .tbl_col select {
	border: 1px solid #fcbe32;
}
.contact .box_contact .tbl_col .txt_required {
	display: inline-block;
	margin-left: 10px;
	padding: 2px 10px;
	background: #ff5f2e;
	border: 0;
	border-radius: 10px;
	text-align: center;
	color: #fff;
}
.contact input.wpcf7c-conf,
.contact textarea.wpcf7c-conf {
	background: #ffecec;
}
.contact select.wpcf7c-conf {
	background: #fff;
}
.contact .tbl_col .col_form {
	display: inline-block;
}
.contact .tbl_col .col_form:first-child {
	margin-left: 0;
}
.contact .tbl_col .col_form input {
	width: 50%;
	margin-left: 10px;
}
.btn_form {
	margin: 30px auto 0 auto;
}
.contact .box_contact .btn_form p {
	display: inline-block;
}
.contact .box_contact .back,
.contact .box_contact .confirm,
.contact .box_contact .submit {
	width: 150px;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #ff5f2e;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.contact .box_contact .submit {
	background-color: #fcbe32;
	border-color: #fff;
	color: #fff;
}
.contact .box_contact .back:hover,
.contact .box_contact .confirm:hover,
.contact .box_contact .submit:hover {
	background-color: #ff5f2e;
	color: #fff;
}
.contact .box_contact .submit:hover {
	background-color: #fff;
	border-color: #fcbe32;
	color: #333;
}

.contact .back,
.contact .submit {
	display: none;
}
.contact .mw_wp_form_confirm .back,
.contact .mw_wp_form_confirm .submit {
	display: block;
}
.txt_submit {
	margin-top: 50px;
	padding: 30px;
	background: #fff;
	border: 1px solid #fcbe32;
	border-radius: 10px;
}
.txt_submit p {
	margin-top: 10px;
}
.txt_msg {
	font-size: 18px;
}

@media screen and ( max-width:768px) {
	.contact .tbl_col div {
		width: auto;
		display: block;
	}
	.contact .tbl_col .col_th {
		width: auto;
	}
	.contact .box_contact .tbl_col .txt_required {
		width: auto;
		display: inline-block;
		margin: 0;
	}
	.contact .box_contact .tbl_col .txt_required {
		margin-left: 10px;
	}
	.contact .tbl_col input,
	.contact .tbl_col textarea {
		width: 100%;
	}
	.contact .tbl_col .col_form {
		width: 100%;
		margin-top: 10px;
	}
} /* sp */


@media screen and ( min-width:769px) {
	a[href*='tel:']{
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
} /* sp */
